<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
/
	Design by Free CSS Templates
	http://www.freecsstemplates.org
	Released for free under a Creative Commons Attribution 2.5 License

	Name       : Implied
	Description: A two-column, fixed-width design for 1024x768 screen resolutions.
	Version    : 1.0
	Released   : 20090716

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
	%head
		%meta{ 'content-type' => "text/html", :charset => "utf-8"}
		%title
			Russian girls and zfs. (Marchroutka style)
		%meta{ :name => "keywords", :content => "" }
		%meta{ :name => "description", :content => "" }
		%link{ :href => "/static/wBlog/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
	%body
		#wrapper
			#header-wrapper
				#header
					#logo
						%h1
							= mk_abs_link("", "Russian girls and zfs")
						%h2
							by Benzene
					#menu
						%ul
							%li.first
								= mk_abs_link("","Home")
							%li
								= mk_abs_link("blog/", "Blog")
							%li
								= mk_abs_link("#", "Portfolio")
							%li
								= mk_abs_link("#", "About")
							%li
								= mk_abs_link("#", "Contact")
			#page
				#content
					%div
						= mk_abs_link("#","<img src=\"/static/wBlog/images/img10.jpg\" alt=\"\" id=\"banner\" />")
					= yield
				#sidebar
					%ul
						%li#search
							%form{:method => "get",  :action => ""}
								%fieldset
									<input type="text" id="search-text" name="s" value="" />
									<input type="submit" id="search-submit" value="" />
						%li
							%h2
								Menu 
							%ul
								%li
									= mk_link("#", "There")
								%li
									= mk_link("#", "Should")
								%li
									= mk_link("#", "Be")
								%li
									= mk_link("#","A")
								%li
									= mk_link("#","Menu")
								%li
									= mk_link("#","Here<br />")
						%li
							%h2
								Follow me on :
							%ul
								%li
									%a{ :href => "https://twitter.com/octobenzene" }
										Twitter
								%li
									%a{ :href => "http://github.com/Benzene" }
										Github
				<div style="clear: both;">&nbsp;</div>

		#footer
			%p
				(c) 2010 leukensis.org. Design by <a href = "http://www.nodethirtythree.com/">nodethirtythree</a> + <a href = "http://www.freecsstemplates.org">free css templates</a>

