.post
	%h2.title
		= post.title
	%p.date
		= print_date(post.date)
	.entry
		.entry-btm
			%p
				= post.print_content
	.meta
		%p.links
			= mk_link("#{post.id}","Comments ()", "comments")
			= "&nbsp;&nbsp;&nbsp;"
			= mk_link("#{post.urltext}","Full article", "permalink")

- if show_comments
	- post.comments.each do |comment|
		= haml :comment_layout, :layout => false, :locals => { :comment => comment }
